@import './theme.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flexWithRow {
  display: flex;
  flex-direction: row;
}

.spaceBetween {
  justify-content: space-between;
}

.alignItemsCenter {
  align-items: center;
}
