#vetenaryBanner {
  background-image: url('../../../../public/assets/images/homepage/vetenaryService.webp');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: fit-content;
}
